*{
    margin: 0;
    padding: 0;
}
body {
    background: url("icons/background.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
#main{
    height: 35%;
    width: 80%;
   
}

.win_counter{
    float: left;
    width: 33%;
}

#user_box{
    float: left;
    width: 50%;
    height: 80%;
   
}

#computer_box{
    float: left;
    width: 50%;
    height: 80%;
   
}

#choices{
    width: 50%;
    height: 25%;

}

.choice{
    float: left;
    width: 25%;
    height: 50%;
    margin: 30px;
}

.icon{
    height: 100px;
    width: 100px;
    border-radius: 75px;
}

.icon:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 1s ease-in;
}

img{
    outline: 3px solid cyan;
    outline-offset: -4px;
    border-radius: 150px;
 
}

p{
    color: cyan;
}
#resultText{
    font-size: 45px;
    margin-bottom: 30px;
}

#userWins{
    font-size: 27px;
    margin-bottom: 25px;
    margin-left: 190px;
}

#computerWins{
    font-size: 27px;
    margin-bottom: 25px;
    margin-right: 170px;
}

#draw{
    font-size: 27px;
    margin-bottom: 25px;
}

#chooseOne{
    font-size: 33px;
}

#resultText, #userWins, #computerWins, #draw, #chooseONe {
    text-shadow: 0 0 20px cyan, 0 0 10px cyan;
  
  }