body {
    background: url("icons/background.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
#main{
    height: 35%;
    width: 80%;
   
}

.win_counter{
    float: left;
    width: 50%;
}

#user_box{
    float: left;
    width: 50%;
    height: 80%;
   
}

#computer_box{
    float: left;
    width: 50%;
    height: 80%;
   
}

#choices{
    width: 50%;
    height: 25%;

}

.choice{
    float: left;
    width: 25%;
    height: 50%;
    margin: 30px;
}

.icon{
    height: 100px;
    width: 100px;
    border-radius: 75px;
}

.icon:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 1s ease-in;
}

img{
    outline: 3px solid white;
    outline-offset: -4px;
    border-radius: 150px;
}

p{
    color: white;
}