*{
    background-color: whitesmoke;
}

#main{
    height: 50%;
    width: 80%;
    background-color: yellow;
}

.win_counter{
    float: left;
    width: 50%;
}

#user_box{
    float: left;
    width: 50%;
    height: 100%;
    background-color: blue;
}

#computer_box{
    float: left;
    width: 50%;
    height: 100%;
    background-color: green;
}

#choices{
    width: 50%;
    height: 30%;

}

.choice{
    float: left;
    width: 25%;
    height: 50%;
    margin: 30px;
}

.icon{
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.icon:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 1s ease-in;
}

